*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(22,9,121,1) 45%, rgba(192,4,201,1) 69%, rgba(255,209,0,1) 100%);
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
header{
    display: flex;
    justify-content: center;
}
#backdrop{
    width: 1000px;
    height: 600px;
    position: absolute;
    z-index: 0;
}
main{
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    width: 1000px;
    height: 600px;
    overflow: hidden;
}
.title{
    font-size: 150px;
    font-family: 'Yellowtail', cursive;
    text-shadow: 1px 1px #0BC4D9, 3px 3px #D932CE;
}
.playerWrapper{
    display: flex;
    background-color:#2E038C;
    height: 100%;
    font-size: 24px;
    justify-content: space-around;
    width: 40vw;
    flex-direction: column;
}
.playerChoice{
    min-height: 20vh;
}
#weaponsWrp{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 82px;
}
#result{
    font-size: 48px;
    text-align: center;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
}
li{
    height: auto;
}
.fighterWrapper{
    list-style-type: none;
    width: 370px;
    height: 370px;
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    grid-template-areas:
        "stefan greta babben"
        "ernst random verka"
        "vasa torsten devil";
    column-gap: 2.5px;
    row-gap: 2.5px;
}
.stefan{grid-area: stefan;}
.greta{grid-area: greta;}
.babben{grid-area: babben;}
.ernst{grid-area: ernst;}
.random{grid-area: random; font-size: 80px; text-align: center;}
.verka{grid-area: verka;}
.vasa{grid-area: vasa;}
.torsten{grid-area: torsten;}
.devil{grid-area: devil;}

.fighter{
    width: 120px;
    height: 120px;
    border: solid 2.5px black;
    box-sizing: border-box;
    cursor: pointer;
}
.fighterSelectedP{
    width: 120px;
    height: 120px;
    border: solid 2.5px #D932CE;
    box-sizing: border-box;
}
.fighterSelectedC{
    width: 120px;
    height: 120px;
    border: solid 2.5px #49F2E1;
    box-sizing: border-box;
}
#fighterHeader{
    flex-basis: 100%;
    font-size: 50px;
    font-family: 'Yellowtail', cursive;
    text-shadow: 1px 1px #0BC4D9, 3px 3px #D932CE;

}
#buttonWrapper{
    flex-basis: 100%;
}
.chosenFighter{
    min-height: 40px;
    font-size: 30px;
}
.btn{
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    border: violet 2px solid;
    width: 220px;
    border-radius: 38px;
    text-align: center;
    text-shadow: none;
}
.btn:hover{
    cursor: pointer;
    background: rgb(46,3,140);
    background: linear-gradient(180deg, rgba(46,3,140,1) 29%, rgba(192,4,201,1) 100%);
}
.btn:active{
    box-shadow: 0 0 15px violet;
}
#startFightMessage{
    min-height: 35px;
    flex-basis: 100%;
    font-size: 32px;
    text-align: center;
}
#blackFade{
    position: absolute;
    animation: fadein 0.5s 1 forwards;
    width: 1000px;
    height: 600px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
    overflow: hidden;
}
@keyframes fadein {
    0% {
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        background-color: rgba(0, 0, 0, 1);
    }
}
#playerSlidePic{
    width: 350px;
}
#playerSlide{
    position: absolute;
    width: 350px;
    animation: rightslide 0.5s forwards;
    left: -250px;
    top: 0;
    display: block;
    font-size: 36px;
}
@keyframes rightslide {
    100% {
        transform: translate(250px);
    }
}
#vs{
    font-size: 180px;
    position: absolute;
    animation: slideDown 1.8s forwards;
    text-shadow: 3px 3px #0BC4D9, 5px 5px #D932CE;
    top: -180px;
    left: 358px;
    z-index: 3;
    font-family: 'Yellowtail', cursive;
}
@keyframes slideDown{
    25%{
        top: 184px;
        left: 358px;
    }
    50%{
        top: 184px;
        left: 358px;
    }
    75%{
        top: 184px;
        left: 358px;
    }
     100%{
        top: 780px;
    } 
}
#computerSlidePic{
    width: 350px;
    position: relative;
    bottom: -13px;
}
#computerSlide{
    position: absolute;
    width: 350px;
    animation: leftslide 0.5s 1 forwards;
    right: -250px;
    bottom: 0;
    display: block;
    font-size: 36px;
    font-family: 'Righteous', cursive;
}
@keyframes leftslide {
    100% {
        transform: translate(-250px);
    }
}
#computerText{
    background-color: #0BC4D9;
}
#playerText{
    background-color: #D932CE;
}
.shrinkPic{
    animation: shrinking 0.8s forwards;
}
@keyframes shrinking{
    100%{
        width: 250px;
        font-size: 30px;
    }
}
.shrinkPicComputer{
    position: relative;
    animation: shrinkingComputer 0.5s forwards;
}
@keyframes shrinkingComputer{
    100%{
        transform: translate(100px);
        width: 250px;
        font-size: 30px;
    }
}
#playerHUD{
    display: flex;
    position: absolute;
    left: 0;
    top: 310px;
    width: 250px;
    flex-wrap: wrap;
    justify-content: center;
    height: 270px;
}
.heartContainerPlayer{
    display: flex;
    width: 250px;
    justify-content: flex-start;
}
.heartPlayer {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
}
    .heartPlayer:before,
    .heartPlayer:after {
    position: absolute;
    content: "";
    left: 20px;
    top: 0;
    width: 20px;
    height: 33px;
    background: #D932CE;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heartPlayer:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
#computerHUD{
    display: flex;
    position: absolute;
    top: 10px;
    right: 0;
    flex-direction: column;
}
.computerWeaponWrap{
    min-height: 250px;
    min-width: 250px;
}
.heartContainerComputer{
    display: flex;
    width: 250px;
    justify-content: flex-start;
    flex-direction: row-reverse;
}
.heartComputer {
    position: relative;
    width: 50px;
    height: 50px;
}
.heartComputer:before,
.heartComputer:after {
    position: absolute;
    content: "";
    left: 20px;
    top: 0;
    width: 20px;
    height: 33px;
    background: #0BC4D9;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.heartComputer:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}
#matchText{
    left: 250px;
    width: 450px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.weapon{
    cursor: pointer;
    width: 80px;
    border: 1px solid black;
    height: 82px;
}
.weaponSelected{
    border: 1px solid #D932CE;
}
#weaponHead{
    width: 250px;
    text-align: center;
}
.chooseFighterPlayer{
    color: #D932CE;
    font-size: 18px;
}
.chooseFighterComputer{
    color: #0BC4D9;
    text-align: right;
    font-size: 18px;
}
.weaponText{
    font-size: 48px;
    min-height: 73px;
    min-width: 250px;
    text-align: center;
    text-shadow: 0 0 10px violet;
}
.roundText{
    font-size: 140px;
    position: absolute;
    animation: slideDown2 1.8s forwards;
    text-shadow: 3px 3px #0BC4D9, 5px 5px #D932CE;
    top: -180px;
    left: 240px;
    z-index: 3;
    font-family: 'Yellowtail', cursive;
}
@keyframes slideDown2{
    25%{
        top: 184px;
        left: 240px;
    }
    50%{
        top: 184px;
        left: 240px;
    }
    75%{
        top: 184px;
        left: 240px;
    }
     100%{
        top: 780px;
    } 
}
.playerWeapon{
    width: 250px;
    position: absolute;
    bottom: -20px;
}
.computerWeapon{
    width: 250px;
    transform: scaleX(-1);
    position: absolute;
    top: -10px;
}
.playerWeaponText{
    font-size: 38px;
    height: 150px;
    padding-top: 90px;
    box-sizing: content-box;
}
#chooseWeaponPrompt{
    font-size: 56px;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    text-shadow: 1px 1px #0BC4D9, 3px 3px #D932CE;
    height: 60px;
}
.chooseWeaponPromptFade{
    animation: fadeOut 1s forwards;
}
@keyframes fadeOut {
    0%{
        opacity: 100%;
    }
    80%{
        opacity: 100%;
    }
    100%{
        opacity: 0%;
    }
}
.playerShake{
    animation: shakePlayer 0.1s 1 alternate;
}
@keyframes shakePlayer{
    100%{
        transform: rotate(4deg);
    }  
}
.computerShake{
    left: 100px;
    animation: shakePlayer 0.1s 1 alternate;
}
.weaponFade{
    animation: weaponFade 0.5s forwards;
}
@keyframes weaponFade{
    100%{
        opacity: 0%;
    }
}
.heartDamageComputer:before,
.heartDamageComputer:after{
    animation: damageComputer 1s forwards;
    background-color: rgba(11, 196, 217, 1);
}
@keyframes damageComputer{
    0%{
        background-color: rgba(11, 196, 217, 1);
    }
    100%{
        background-color: rgba(11, 196, 217, 0);
    }
}
.heartDamagePlayer:before,
.heartDamagePlayer:after{
    animation: damagePlayer 1s forwards;
    background-color: rgba(217, 50, 206, 1);
}
@keyframes damagePlayer{
    0%{
        background-color: rgba(217, 50, 206, 1);
    }
    100%{
        background-color: rgba(217, 50, 206, 0);
    }
}
.announceWinner{
    font-size: 70px;
    position: absolute;
    animation: appear 3s forwards;
    text-shadow: 3px 3px #0BC4D9, 5px 5px #D932CE;
    left: 250px;
    top: 254px;
    z-index: 3;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    min-width: 469px;
}
@keyframes appear{
    0%{
        transform: scale(0, 0);
    }
    50%{
        transform: scale(1, 1);
    }
    75%{
        top: 254px;
    }
    100%{
        top: 780px;
    }
}
.winnerText {
    font-size: 100px;
    position: absolute;
    animation: appear 3s forwards;
    text-shadow: 3px 3px #0BC4D9, 5px 5px #D932CE;
    left: 30px;
    top: 224px;
    z-index: 3;
    font-family: 'Yellowtail', cursive;
    text-align: center;
    min-width: 928px;
}
.winStreak{
    position: absolute;
    bottom: 0;
    font-size: 1.5rem;
}